<template>
    <v-layout align-start>
        <v-flex>
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item :to="{ path: '/home' }">Inicio</el-breadcrumb-item>
                <el-breadcrumb-item>Plan de Acción</el-breadcrumb-item>
            </el-breadcrumb>
            <el-divider></el-divider>
            <el-dialog title="Plan de Acción" :visible.sync="dialog">
                <el-form ref="form" :rules="rules" :model="form" label-position="top">
                    <el-row :gutter="20">
                        <el-col :xs="24">
                            <el-form-item label="Tema" prop="tema">
                                <el-input v-model="form.tema" @keypress="mayus(this)" autocomplete="off"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :md="12">
                            <el-form-item label="Fecha Lanzamiento" prop="fechaLanzamiento">
                                <el-date-picker 
                                    type="date" 
                                    placeholder="Seleccione" 
                                    v-model="form.fechaLanzamiento" 
                                    style="width: 100%;"
                                    format="dd/MM/yyyy"
                                    value-format="yyyy-MM-dd">
                                </el-date-picker>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :md="12">
                            <el-form-item label="Responsable" prop="idResponsable">
                                <el-input v-model="responsable" disabled></el-input>
                            <!--el-form-item label="Responsable" prop="idResponsable">
                                <el-select
                                    v-model="form.idResponsable"
                                    multiple
                                    filterable
                                    remote
                                    style="width: 100%"
                                    no-match-text="Ningun  Usuario"
                                    no-data-text="Ningun Usuario"
                                    popper-class="000e"
                                    loading-text="Cargando"
                                    reserve-keyword
                                    placeholder="Usuario"
                                    :remote-method="remoteMethod"
                                    :loading="loading">
                                    <el-option
                                        v-for="item in options"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                    </el-option>
                                </el-select-->
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form>
                <div class="red--text" v-for="v in validaMensaje" :key="v" v-text="v"></div>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="close('form')">Cancelar</el-button>
                    <el-button type="primary" @click="guardar('form')">{{btnTitle}}</el-button>
                </span>
            </el-dialog>
            <v-toolbar flat color="white" >
                <v-toolbar-title>Plan de Acción</v-toolbar-title>
                <v-divider
                class="mx-4"
                inset
                vertical
                ></v-divider>
                <v-spacer/>
                <v-text-field
                class="text-xs-center"
                v-model="search"
                append-icon="search"
                label="Búsqueda"
                single-line
                hide-details
                ></v-text-field>
                <v-spacer/>
                <el-button type="primary" size="small" @click="dialog = true">Nuevo Plan</el-button>
            </v-toolbar>
            <v-data-table 
                :headers="headers" 
                :items="planAccion" 
                :search="search"
                :items-per-page="8" 
                class="elevation-1"
            >
                <template slot="items" slot-scope="props" >
                    <!--td>
                        <v-icon
                        small
                        class="mr-2"
                        @click="editItem(props.item)"
                        >
                            edit
                        </v-icon>
                    </td-->
                    <td>{{props.item.numero}}</td>
                    <td>{{props.item.tema}}</td>
                    <td>{{props.item.nombreResponsable}}</td>
                    <td>{{fechaTable(props.item.fechaLanzamiento)}}</td>
                    <td>
                        <el-tooltip class="item" effect="dark" content="Ver Acciones" placement="left">
                            <el-button icon="el-icon-search" circle type="primary" @click="acciones(props.item)" size="mini"></el-button>
                        </el-tooltip>
                    </td>
                </template>
                <!--template v-slot:item.fechaLanzamiento="{item}">
                    {{fechaTable(item.fechaLanzamiento)}}
                </template>
                <template v-slot:top>
                    
                </template>
                <template v-slot:item.opciones="{ item }">
                    <v-icon
                        small
                        class="mr-2"
                        @click="editItem(item)"
                    >
                        edit
                    </v-icon>
                </template>
                <template v-slot:item.accion="{ item }">
                    <el-tooltip class="item" effect="dark" content="Ver Acciones" placement="left">
                        <el-button icon="el-icon-search" circle type="primary" @click="acciones(item)" size="mini"></el-button>
                    </el-tooltip>
                </template-->
                <template v-slot:no-data>
                    <v-btn color="primary" @click="listarPlan">Cargar Datos</v-btn>
                </template>
            </v-data-table>
        </v-flex>
    </v-layout>
</template>
<script>
import axios from 'axios'
export default {
    data(){
        //Validacion
        var tema =(rule, value, callback)=> {
            if (value === '') {
                callback(new Error('Por favor ingrese un Tema.'));
            }
            callback();
        }
        var fecha = (rule, value, callback) => {
            if (value === '') {
                callback(new Error('Seleccione una Fecha de Lanzamiento'));
            }
            callback();
        }
        var responsable = (rule, value, callback) => {
            if (value == '') {
                callback(new Error('Por favor ingrese un Responsable'));
            }
            callback();
        }
        return{
            planAccion:[],
            dialog: false,
            headers:[
                {text:"No.", value:"numero", align: 'center' },
                {text:"Tema",value:"tema", sortable: false},
                {text:"Responsable",value:"nombreResponsable", align: 'center', sortable: false},
                {text:"Fecha de Lanzamiento", value:"fechaLanzamiento", align: 'center', sortable: false},
                {text:"Acciones",value:"accion", align: 'center', sortable: false},
            ],
            form:{
                idPlan:'',
                tema:'',
                fechaLanzamiento:'',
                idResponsable: Number(this.$store.state.usuario.idusuario)
            },
            rules:{
                //reglas de validacion
                tema:[
                    { validator: tema, trigger: 'change' }
                ],
                fechaLanzamiento: [
                    { validator: fecha, trigger: 'change' }
                ],
                idResponsable: [
                    { validator: responsable, trigger: 'blur' }
                ],
            },
            loading: false,
            search:'',
            options:[],
            responsable: this.$store.state.usuario.nombre,
            editedIndex: -1,
            valida: 0,
            validaMensaje:[],

        };
    },
    created(){
        //this.selectUsers();
        this.listarPlan();
    },
    computed:{
        fecha(){
            var date = new Date(this.planAccion['fechaLanzamiento']).toISOString().substr(0,10);
            return this.formatDate(date);
        },
        btnTitle(){
            return this.editedIndex === -1 ? "Registrar" : "Actualizar";
        }
    },
    watch: {
        dialog(val) {
            val || this.close();
        }
    },
    methods:{
        mayus(e) {
            var tecla=e.value;
            this.form.tema= tecla;
        },
        acciones(item){
            this.$router.push('/acciones/'+item.idPlanAccion);
            //console.log(item.idPlanAccion);
        },
        remoteMethod(query) {
            //busqueda remota de usuarios
            if (query !== '') {
            this.loading = true;
            setTimeout(() => {
                this.loading = false;
                this.options = this.responsable.filter(item => {
                return item.label.toLowerCase()
                    .indexOf(query.toLowerCase()) > -1;
                });
            }, 200);
            } else {
            this.options = [];
            }
        },
        listarPlan() {
            let me = this;
            var id = me.$store.state.usuario.idusuario;
            axios.get("api/Plans/UserPlan/"+id).then(function(response) {
                me.planAccion = response.data;
                //console.log(me.planAccion);
                for (let index = 0; index < me.planAccion.length; index++) {
                    me.planAccion[index].numero = index+1; 
                }
            }).catch(function(error) {
                console.log(error);
            });
        },
        editItem(item) {
            this.form.idPlan = item.idPlan;
            this.form.tema = item.tema;
            this.form.fechaLanzamiento = item.fechaLanzamiento;
            this.editedIndex = 1;
            this.dialog = true;
        },
        guardar(form) {
            this.$refs[form].validate((valid) => {
                if (valid) {
                    if (this.editedIndex > -1) {
                        //Código para editar
                        //Código para guardar
                        let me = this;
                        axios
                        .put("api/Proyectos/Actualizar", {
                            idproyecto: me.idproyecto,
                            nombre: me.nombre,
                            descripcion: me.descripcion
                        })
                        .then(function(response) {
                            me.close(form);
                            me.listarPlan();
                            me.limpiar();
                        })
                        .catch(function(error) {
                            console.log(error);
                        });
                    } else {
                        //Código para guardar
                        let me = this;
                        axios
                        .post("api/Plans/Insertar", {
                            tema: me.form.tema.toUpperCase(),
                            fechaLanzamiento: me.form.fechaLanzamiento,
                            id: me.form.idResponsable
                        })
                        .then(function(response) {
                            me.close(form);
                            me.listarPlan();
                            me.limpiar();
                        }).then(data => {
                            this.$message({
                                showClose: true,
                                message: 'Registro de nuevo Plan de Acción Exitoso.',
                                type: 'success'
                            });
                        })
                        .catch(function(error) {
                            console.log(error);
                        }).then(data => {
                            this.$message({
                                showClose: true,
                                message: 'Ocurrio un problema, intente nuevamente.',
                                type: 'error'
                            });
                        });
                    }
                }
            });
        },
        validar() {
            this.valida = 0;
            this.validaMensaje = [];

            if (this.form.tema.length < 3 || this.form.tema.length > 50) {
                this.validaMensaje.push(
                "El tema debe tener más de 3 caracteres y menos de 50 caracteres."
                );
            }
            if (this.validaMensaje.length) {
                this.valida = 1;
            }
            return this.valida;
        },
        close(form) {
            this.dialog = false;
            this.limpiar();
            this.$refs[form].resetFields();
            this.validaMensaje=[];
        },
        limpiar() {
            this.form.idPlan = "";
            this.form.tema = "";
            this.form.fechaLanzamiento="";
            this.editedIndex = -1;
        },
        formatDate (date) {
        if (!date) return null

        const [year, month, day] = date.split('-')
        return `${day}/${month}/${year}`
        },
        fechaTable(item){
            var date = new Date(item).toISOString().substr(0, 10);
            return this.formatDate(date);
        }
    }
}
</script>