<template>
    <v-layout align-start>
        <v-flex>
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item :to="{ path: '/home' }">Inicio</el-breadcrumb-item>
                <el-breadcrumb-item>Reportes de Plan de Acción</el-breadcrumb-item>
            </el-breadcrumb>
            <el-divider/>
            <el-tabs type="border-card">
                <el-tab-pane label="Acciones Atendidas">
                    <EstadisticaOk/>
                </el-tab-pane>
                <el-tab-pane label="Acciones Retrasadas"><EstadisticaRetrasado/></el-tab-pane>
                <el-tab-pane label="Acciones en Ejecución"><EstadisticaEjecucion/></el-tab-pane>
                <el-tab-pane label="Status Plan de Acción"><AvancePlan/></el-tab-pane>
            </el-tabs>
            <router-view/>
        </v-flex>
    </v-layout>
</template>

<script>
import axios from 'axios';
import EstadisticaRetrasado from '../../components/PlanAccion/estadistica-retrasado'
import EstadisticaEjecucion from '../../components/PlanAccion/estadistica-ejecucion'
import EstadisticaOk from '../../components/PlanAccion/estadistica-ok'
import AvancePlan from '../../components/PlanAccion/avance-plan'
export default {
    components:{
        EstadisticaRetrasado,
        EstadisticaEjecucion,
        EstadisticaOk,
        AvancePlan
    },
    data(){
        return{
        }
    },
    created(){
        
    },
    methods:{
        

    }
}
</script>