
<template>
    <v-container fluid grid-list-md  >
        <v-layout row wrap>
        <v-flex d-flex xs4>
                <v-img :src="require('../../assets/logo_unilever.png')" contain height="80" align-center></v-img>
        </v-flex>
        <v-flex d-flex xs8 >
            <v-layout row wrap >
            <v-flex d-flex justify-center align-center>
                <h1 class="blue--text" >Daily Operation Board {{ maquina }}</h1>
            </v-flex>
            </v-layout>
        </v-flex>
        </v-layout>
        <v-layout wrap align-left>
            <v-flex class="text-md-right" >
                <el-select v-model="value_maquina" placeholder="Seleccione una Maquina">
                    <el-option
                    v-for="item in lista_maquina"
                    :key="item.value"
                    :label="item.label"
                    :value="item.label">
                    </el-option>
                </el-select>
            </v-flex>
            <v-spacer></v-spacer>
                    <v-flex xs3 >
                        <v-text-field :rules="nameRules_semanas" v-model="num_semana" :mask="mask" label="Numero de semana"></v-text-field>
                    </v-flex>
            <v-spacer></v-spacer>
        </v-layout>

        <v-layout row wrap mt-1>
            <v-flex xs7>  
                <v-layout row wrap>
                    <v-flex d-flex xs12>
                        <v-card color="indigo" dark>
                        <v-card-text class="text-md-center">SAFETY</v-card-text>
                        </v-card>
                    </v-flex>
          
                    <v-flex d-flex xs12 >
                        <v-layout row wrap >
                            <v-flex d-flex xs3>
                                <v-card elevation="0">
                                        <v-card-text>SAFELY</v-card-text>
                                </v-card>
                            </v-flex>
                            <v-flex row d-flex xs9>
                                <v-layout column wrap>
                                    <v-flex d-flex>
                                        <v-layout  xs9 row wrap>
                                            <v-flex d-flex xs3 >
                                                <v-card elevation="0">
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs3 >
                                                <v-card elevation="0">
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs3 >
                                                <v-card elevation="0">
                                                    <v-card-text class="text-md-center">Definición</v-card-text>
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs3 >
                                                <v-card elevation="0">
                                                </v-card>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>

                                    <v-flex d-flex>
                                        <v-layout  xs9 row wrap>
                                            <v-flex d-flex xs3 >
                                                <v-card elevation="0">
                                                <v-card-text class="text-md-right">Injuries</v-card-text>
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs3 >
                                                <v-card elevation="0">
                                                    <v-text-field
                                                        v-model="injuries"
                                                        :rules="nameRules"
                                                        :counter="15"
                                                        required
                                                    ></v-text-field>
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs3 >
                                                <v-card elevation="0"> 
                                                    <v-text-field v-model="definition" :rules="nameRules" :counter="15" required></v-text-field>
                                                    
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs3 >
                                                <v-card elevation="0">
                                                </v-card>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
            
                                    <v-flex d-flex>
                                        <v-layout  xs9 row wrap>
                                            <v-flex xs3 >
                                                <v-card elevation="0">
                                                <v-card-text class="text-md-right">Near Misses</v-card-text>
                                                </v-card>
                                            </v-flex>
                                            <v-flex xs3 >
                                                <v-card elevation="0">
                                                    <v-text-field
                                                        v-model="near_misses"
                                                        :rules="nameRules"
                                                        :counter="15"
                                                        required
                                                    ></v-text-field>
                                                </v-card>
                                            </v-flex>
                                            <v-flex xs3 >
                                                <v-card elevation="0">
                                                    <v-card-text class="pa-0">
                                                        <v-text-field v-model="definition2" :mask="mask" label="##"></v-text-field>
                                                    </v-card-text>
                                                </v-card>
                                            </v-flex>
                                            <v-flex xs3 >
                                                <v-card elevation="0">
                                                </v-card>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                        </v-layout>
                    </v-flex>

                    <v-flex d-flex xs12 >
                        <v-layout row wrap>
                            <v-flex d-flex xs3>
                                <v-card elevation="0">
                                        <v-card-text>PSM</v-card-text>
                                </v-card>
                            </v-flex>
                            <v-flex row d-flex xs9>
                                <v-layout column wrap>
                                    <v-flex d-flex>
                                        <v-layout  xs9 row wrap>
                                            <v-flex d-flex xs3 >
                                                <v-card elevation="0">
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs3 >
                                                <v-card elevation="0">
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs3 >
                                                <v-card elevation="0">
                                                    <v-card-text class="text-md-center">Severity (1-2-3)</v-card-text>
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs3 >
                                                <v-card elevation="0">
                                                </v-card>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>

                                    <v-flex d-flex>
                                        <v-layout  xs9 row wrap>
                                            <v-flex d-flex xs3 >
                                                <v-card elevation="0">
                                                <v-card-text class="text-md-right">Indicents</v-card-text>
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs3 >
                                                <v-card elevation="0">
                                                    <v-text-field
                                                        v-model="indicents"
                                                        :rules="nameRules"
                                                        :counter="15"
                                                        required
                                                    ></v-text-field>
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs3 >
                                                <v-card elevation="0"> 
                                                    <v-text-field
                                                        v-model="severity"
                                                        :rules="nameRules"
                                                        :counter="15"
                                                        required
                                                    ></v-text-field>
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs3 >
                                                <v-card elevation="0">
                                                </v-card>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>

                                    <v-flex d-flex>
                                        <v-layout  xs9 row wrap>
                                            <v-flex xs3 >
                                                <v-card elevation="0">
                                                <v-card-text class="text-md-right">Near Misses</v-card-text>
                                                </v-card>
                                            </v-flex>
                                            <v-flex xs3 >
                                                <v-card elevation="0">
                                                    <v-text-field
                                                        v-model="near_misses_severity"
                                                        :rules="nameRules"
                                                        :counter="15"
                                                        required
                                                    ></v-text-field>
                                                </v-card>
                                            </v-flex>
                                            <v-flex xs3 >
                                                <v-card elevation="0">
                                                    <v-card-text class="pa-0">
                                                        <v-text-field v-model="severity2" :mask="mask" label="##"></v-text-field>
                                                    </v-card-text>
                                                </v-card>
                                            </v-flex>
                                            <v-flex xs3 >
                                                <v-card elevation="0">
                                                </v-card>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                            
                        </v-layout>
                    </v-flex>

                </v-layout>
            </v-flex>
            <v-flex xs5>  
                 <v-layout row wrap>
                    <v-flex  xs12 >
                        <v-card color="indigo" dark>
                        <v-card-text class="text-md-center">QUALITY</v-card-text>
                        </v-card>
                    </v-flex>
                    <v-flex d-flex xs12 >
                        <v-layout row wrap >
                            <v-flex row d-flex>
                                <v-layout column wrap>
                                    <v-flex d-flex class="pa-0">
                                        <v-layout  xs9 row wrap>
                                            <v-flex d-flex xs4 >
                                                <v-card elevation="0">
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs4 >
                                                <v-card elevation="0">
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs4 >
                                                <v-card elevation="0">
                                                    <v-card-text class="text-md-center">#</v-card-text>
                                                </v-card>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>

                                    <v-flex d-flex class="pa-0">
                                        <v-layout  xs9 row wrap>
                                            <v-flex d-flex xs6 >
                                                <v-card elevation="0">
                                                <v-card-text class="text-md-right">Incidente D (incl. CRQS Red)</v-card-text>
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs2 justify-center align-center>
                                                <v-card elevation="0" >
                                                    <v-card-text class="text-xs-center pa-0">
                                                        <template v-if="campo1!=0">
                                                            <v-icon color="red">info</v-icon>
                                                        </template>
                                                        <template v-else>
                                                            <v-icon color="success">info</v-icon>
                                                        </template>
                                                    </v-card-text>
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs4 >
                                                <v-card elevation="0"> 
                                                    <v-card-text class="text-xs-center pa-0">
                                                        <v-text-field class="text-xs-center" outlined v-model="campo1" :mask="mask" label="##"></v-text-field>
                                                    </v-card-text>
                                                </v-card>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>

                                    <v-flex d-flex class="pa-0">
                                        <v-layout  xs9 row wrap>
                                            <v-flex d-flex xs6 >
                                                <v-card elevation="0">
                                                <v-card-text class="text-md-right">CRQS Amber</v-card-text>
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs2 justify-center align-center>
                                                <v-card elevation="0" >
                                                    <v-card-text class="text-xs-center pa-0">
                                                        <template v-if="campo2!=0">
                                                            <v-icon color="red">info</v-icon>
                                                        </template>
                                                        <template v-else>
                                                            <v-icon color="success">info</v-icon>
                                                        </template>
                                                    </v-card-text>
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs4 >
                                                <v-card elevation="0"> 
                                                    <v-card-text class="text-xs-center pa-0">
                                                        <v-text-field class="text-xs-center" outlined v-model="campo2" :mask="mask" label="##"></v-text-field>
                                                    </v-card-text>
                                                </v-card>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                        
                                    <v-flex d-flex class="pa-0">
                                        <v-layout  xs9 row wrap>
                                            <v-flex d-flex xs6 >
                                                <v-card elevation="0">
                                                <v-card-text class="text-md-right">Parametros de proceso NO completados</v-card-text>
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs2 justify-center align-center>
                                                <v-card elevation="0" >
                                                    <v-card-text class="text-xs-center pa-0">
                                                        <template v-if="campo3!=0">
                                                            <v-icon color="red">info</v-icon>
                                                        </template>
                                                        <template v-else>
                                                            <v-icon color="success">info</v-icon>
                                                        </template>
                                                    </v-card-text>
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs4 >
                                                <v-card elevation="0"> 
                                                    <v-card-text class="text-xs-center pa-0">
                                                        <v-text-field class="text-xs-center" outlined v-model="campo3" :mask="mask" label="##"></v-text-field>
                                                    </v-card-text>
                                                </v-card>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>

                                    <v-flex d-flex class="pa-0">
                                        <v-layout  xs9 row wrap>
                                            <v-flex d-flex xs6 >
                                                <v-card elevation="0">
                                                <v-card-text class="text-md-right">Non-compliant process parameters</v-card-text>
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs2 justify-center align-center>
                                                <v-card elevation="0" >
                                                    <v-card-text class="text-xs-center pa-0">
                                                        <template v-if="campo4!=0">
                                                            <v-icon color="red">info</v-icon>
                                                        </template>
                                                        <template v-else>
                                                            <v-icon color="success">info</v-icon>
                                                        </template>
                                                    </v-card-text>
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs4 >
                                                <v-card elevation="0"> 
                                                    <v-card-text class="text-xs-center pa-0">
                                                        <v-text-field class="text-xs-center" outlined v-model="campo4" :mask="mask" label="##"></v-text-field>
                                                    </v-card-text>
                                                </v-card>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>

                                    <v-flex d-flex class="pa-0">
                                        <v-layout  xs9 row wrap>
                                            <v-flex d-flex xs6 >
                                                <v-card elevation="0">
                                                <v-card-text class="text-md-right">Cuerpo extraño</v-card-text>
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs2 justify-center align-center>
                                                <v-card elevation="0" >
                                                    <v-card-text class="text-xs-center pa-0">
                                                        <template v-if="campo5!=0">
                                                            <v-icon color="red">info</v-icon>
                                                        </template>
                                                        <template v-else>
                                                            <v-icon color="success">info</v-icon>
                                                        </template>
                                                    </v-card-text>
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs4 >
                                                <v-card elevation="0"> 
                                                    <v-card-text class="text-xs-center pa-0">
                                                        <v-text-field class="text-xs-center" outlined v-model="campo5" :mask="mask" label="##"></v-text-field>
                                                    </v-card-text>
                                                </v-card>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>

                                    <v-flex d-flex class="pa-0">
                                        <v-layout  xs9 row wrap>
                                            <v-flex d-flex xs6 >
                                                <v-card elevation="0">
                                                <v-card-text class="text-md-right">SNCR </v-card-text>
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs2 justify-center align-center>
                                                <v-card elevation="0" >
                                                    <v-card-text class="text-xs-center pa-0">
                                                        <template v-if="campo6!=0">
                                                            <v-icon color="red">info</v-icon>
                                                        </template>
                                                        <template v-else>
                                                            <v-icon color="success">info</v-icon>
                                                        </template>
                                                    </v-card-text>
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs4 >
                                                <v-card elevation="0"> 
                                                    <v-card-text class="text-xs-center pa-0">
                                                        <v-text-field class="text-xs-center" outlined v-model="campo6" :mask="mask" label="##"></v-text-field>
                                                    </v-card-text>
                                                </v-card>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                </v-layout>
            </v-flex>

            <v-flex xs12>  
                <v-layout row wrap>
                    <v-flex  xs12 >
                        <v-card color="indigo" dark>
                            <v-card-text class="text-md-center">SERVICIO Y PERFORMANCE</v-card-text>
                        </v-card>
                    </v-flex>
                    <v-flex d-flex >
                        <v-card  :class="`d-flex justify-center justify-space-between flex-nowrap mb-6`" color="grey lighten-2" flat tile  >
                            <v-card class="pa-2 flex-grow-1 flex-shrink-1" outlined tile >
                            Lunes
                            </v-card>
                            <v-card class="pa-2 flex-grow-1 flex-shrink-1" outlined tile >
                            Martes   
                            </v-card>
                            <v-card class="pa-2 flex-grow-1 flex-shrink-1" outlined tile >
                            Miercoles
                            </v-card>
                            <v-card class="pa-2 flex-grow-1 flex-shrink-1" outlined tile >
                            Jueves   
                            </v-card>
                            <v-card class="pa-2 flex-grow-1 flex-shrink-1" outlined tile >
                            Viernes  
                            </v-card>
                            <v-card class="pa-2 flex-grow-1 flex-shrink-1" outlined tile >
                            Sabado   
                            </v-card>
                            <v-card class="pa-2 flex-grow-1 flex-shrink-1" outlined tile >
                            Total     
                            </v-card>
                        </v-card>
                    </v-flex>
                    <v-flex xs12>
                        <v-data-table :headers="headers" :items="Produccion_semanal" class="elevation-1" hide-actions hide-headers>
                            <template slot="items" slot-scope="props">
                                <td>{{ props.item.lunes }}</td>
                                <td>{{ props.item.martes }}</td>
                                <td>{{ props.item.miercoles }}</td>
                                <td>{{ props.item.jueves }}</td>
                                <td>{{ props.item.viernes }}</td>
                                <td>{{ props.item.sabado }}</td>
                                <v-chip :color="red" dark>{{ props.item.total }}</v-chip>
                                
                            </template>
                            <template slot="no-data">
                                <v-btn color="primary" @click="listarPlanificado">Actualizar</v-btn>
                            </template>
                        </v-data-table>
                    </v-flex>
                    <v-flex xs12>
                        <v-data-table :headers="headers" :items="Produccion_semanal" class="elevation-1" hide-actions hide-headers>
                            <template slot="items" slot-scope="props">
                                <td>{{ props.item.lunes }}</td>
                                <td>{{ props.item.martes }}</td>
                                <td>{{ props.item.miercoles }}</td>
                                <td>{{ props.item.jueves }}</td>
                                <td>{{ props.item.viernes }}</td>
                                <td>{{ props.item.sabado }}</td>
                                <v-chip :color="green" dark>{{ props.item.total }}</v-chip>
                            </template>
                        </v-data-table>
                    </v-flex>
                    <v-flex xs12>
                        <v-data-table :headers="headers" :items="Produccion_semanal" class="elevation-1" hide-actions hide-headers>
                            <template slot="items" slot-scope="props">
                                <td>{{ props.item.lunes }}</td>
                                <td>{{ props.item.martes }}</td>
                                <td>{{ props.item.miercoles }}</td>
                                <td>{{ props.item.jueves }}</td>
                                <td>{{ props.item.viernes }}</td>
                                <td>{{ props.item.sabado }}</td>
                                <v-chip :color="green" dark>{{ props.item.total }}</v-chip>
                            </template>
                        </v-data-table>
                    </v-flex>
                </v-layout>
            </v-flex>

            <v-flex xs12>  
                <v-layout row wrap>
                    <v-flex  xs12 >
                        <v-card color="blue lighten-1" dark>
                            <v-card-text class="text-md-center"></v-card-text>
                        </v-card>
                        <v-card color="blue-grey lighten-2" dark>
                            <v-card-text class="text-md-left">Process Driven Losses</v-card-text>
                        </v-card>
                    </v-flex>
                    <v-flex >
                        <v-data-table :headers="headers" :items="Produccion_semanal" class="elevation-1">
                            <template slot="items" slot-scope="props">
                                <td>{{ props.item.dia_produccion }}</td>
                                <td>{{ props.item.martes }}</td>
                                <td>{{ props.item.miercoles }}</td>
                                <td>{{ props.item.jueves }}</td>
                                <td>{{ props.item.viernes }}</td>
                                <td>{{ props.item.sabado }}</td>
                                <td>{{ props.item.domingo }}</td>
                            </template>
                            <template slot="no-data">
                                <v-btn color="primary" @click="listarPlanificado">Actualizar</v-btn>
                            </template>
                        </v-data-table>
                    </v-flex>
                </v-layout>
            </v-flex>

            <v-flex xs12>  
                <v-layout row wrap>
                    <v-flex  xs12 >
                        <v-card color="blue lighten-1" dark>
                            <v-card-text class="text-md-center"></v-card-text>
                        </v-card>
                        <v-card color="blue-grey lighten-2" dark>
                            <v-card-text class="text-md-left">Mfg Performance Losses</v-card-text>
                        </v-card>
                    </v-flex>
                    <v-flex >
                        <v-data-table :headers="headers" :items="Produccion_semanal" class="elevation-1">
                            <template slot="items" slot-scope="props">
                                <td>{{ props.item.lunes }}</td>
                                <td>{{ props.item.martes }}</td>
                                <td>{{ props.item.miercoles }}</td>
                                <td>{{ props.item.jueves }}</td>
                                <td>{{ props.item.viernes }}</td>
                                <td>{{ props.item.sabado }}</td>
                                <td>{{ props.item.total }}</td>
                            </template>
                            <template slot="no-data">
                                <v-btn color="primary" @click="listarPlanificado">Actualizar</v-btn>
                            </template>
                        </v-data-table>
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import axios from 'axios'
    export default {
        data () {
            return{
                headers: [
                    { text: 'Lunes', value: 'lunes', sortable: false },
                    { text: 'Martes', value: 'martes', sortable: false  },
                    { text: 'Miercoles', value: 'miercoles', sortable: false  },
                    { text: 'Jueves', value: 'jueves', sortable: false  },
                    { text: 'Viernes', value: 'viernes', sortable: false  },
                    { text: 'Sabado', value: 'sabado', sortable: false  },
                    { text: 'Acumulado (sem)', value: 'total', sortable: false  },           
                ],
                Produccion_semanal:[],
                value1: '',

                /////////////////////////////////////////////////////////////////////// balanzzas
                lista_maquina: [{
                    value: '1',
                    label: 'Bosch 1'
                    }, {
                    value: '2',
                    label: 'Bosch 2'
                    }, {
                    value: '3',
                    label: 'Bosch 3'
                    }, {
                    value: '5',
                    label: 'Triangle 1'
                    }, {
                    value: '6',
                    label: 'Triangle 2'
                    }, {
                    value: '4',
                    label: 'Triangle 3'
                    }],
                value_maquina: '',
                /////////////////////////////////////////////////////////////////////// semana
                num_semana:"",
                nameRules_semanas: [
                    v => !!v || 'el dato es requerido',
                    v => v.length <= 2 || 'no puede ser mayor a 2 digitos',
                    v => v < 52 || 'no puede exceder de la semana 51'
                ],

                activeIndex2: '1',
                maquina:"Bosch 1",
                injuries:"", 
                definition:"", 
                near_misses:"",  
                definition2:"",
                indicents:"", 
                severity:"", 
                near_misses_severity:"", 
                severity2:"",
                mask:'##',
                campo1:0,
                campo2:0,
                campo3:0,
                campo4:0,
                campo5:0,
                campo6:0,
                nameRules: [
                    v => !!v || 'Name is required',
                    v => v.length <= 15 || 'Name must be less than 10 characters'
                ],
            }   
        },
        computed: {
        },

        watch: {
        },

        created () {
            //this.firstDayOfWeek(2020, 5); 
        },
        methods:{
///////////////////////////////////////////////////////// metodos FOS ///////////////////////////////////////////////////////////////
            listarPlanificado(){
                let me=this;
                var num_sem = parseInt(me.num_semana)
                var fecha1 = me.firstDayOfWeek(num_sem,0);
                var fecha2 = me.firstDayOfWeek(num_sem,6);
                var maquina = me.value_maquina
                let header={"Authorization" : "Bearer " + this.$store.state.token};
                let configuracion= {headers : header};
                axios.get('api/Plan_Produccion/dias_semana/'+fecha1+'/'+fecha2+'/'+maquina+'',configuracion).then(function(response){
                    me.Produccion_semanal=response.data;

                }).catch(function(error){
                    console.log(error);
                });
            },
//////////////////////////////////////////////////////////////////////////////////////////////// METODOS DE MAQUINAS   
            listarMaquinas(){
                let me=this;
                let header={"Authorization" : "Bearer " + this.$store.state.token};
                let configuracion= {headers : header};
                axios.get('api/Maquinas/ListarMaquinas/',configuracion).then(function(response){
                //console.log(response);
                    me.maquinas=response.data;
                }).catch(function(error){
                    console.log(error);
                });
            },            
///////////////////////////////////////////////////////// metodos de fechas ////////////////////////////////////////////////
            firstDayOfWeek (week, day) 
            {
                var anios = new Date();
                var year = anios.getFullYear();
                var d = new Date(year, 0, 1), offset = d.getTimezoneOffset(); 
                d.setDate(d.getDate() + 4 - (d.getDay() || 7)); 
                d.setTime(d.getTime() + 7 * 24 * 60 * 60 * 1000 * (week + (year == d.getFullYear() ? -1 : 0 ))); 
                d.setTime(d.getTime() + (d.getTimezoneOffset() - offset) * 60 * 1000);
                d.setDate(d.getDate() - 3); 
                let current_datetime = d
                let formatted_date = current_datetime.getFullYear() + "-" + (current_datetime.getMonth() + 1) + "-" + (current_datetime.getDate() + day)
                return formatted_date; 
            } 
        }          
    }
</script>