<template>
    <v-layout align-start>
        <v-flex>
            <!--------------------------------------------------------- menu de seleccion de maquina ------------------------------------->
                <v-dialog v-model="verMaquinas" max-width="500">
                    <v-card>
                        <v-card-title>
                            <span class="headline">Seleccione una Maquina</span>
                            <v-flex xs12 sm1 md1 lg1 xl2>
                                <v-tooltip top>
                                    <template v-slot:activator="{ on }">
                                        <v-btn @click="listarMaquinas()" small fab dark color="teal" v-on="on">
                                            <v-icon dark>cached</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>Actualizar lista maquinas</span>
                                </v-tooltip>
                            </v-flex>
                        </v-card-title>
                        <v-card-text>
                            <v-container grid-list-md>
                                <v-layout wrap>
                                    <v-flex xs12 sm12 md12 lg12 xl12>
                                        <template>
                                            <v-spacer></v-spacer>
                                            <v-text-field v-model="buscarmaquina" append-icon="search" label="Search" single-line hide-details></v-text-field>
                                            <v-data-table :headers="cabeceraMaquinas" :items="maquinas" :search="buscarmaquina">
                                                <template slot="items" slot-scope="props">
                                                    <td class="justify-center layout px-0">
                                                        <v-icon medium class="mr-2" @click="agregarMaquina(props.item) ">
                                                            add_circle
                                                        </v-icon>
                                                    </td>
                                                    <td>{{ props.item.nombre }}</td>
                                                    <td>{{props.item.area}}</td>
                                                </template>
                                                <template slot="no-data">
                                                    <h3>No hay maquinas para mostrar.</h3>
                                                </template>
                                            </v-data-table>
                                        </template>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn @click="ocultarMaquinas()" color="blue darken" flat>
                                Cancelar
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            <!------------------------------------------------- menu de seleccion de maquina ------------------------------------------------->   
            <!--------------------------------------------------------- menu de seleccion de maquina ------------------------------------->
                <v-dialog v-model="verCategoriasPerdida" max-width="500">
                    <v-card>
                        <v-card-title>
                            <span class="headline">Seleccione una Categorias de Perdida</span>
                            <v-flex xs12 sm1 md1 lg1 xl2>
                                <v-tooltip top>
                                    <template v-slot:activator="{ on }">
                                        <v-btn @click="listarCategoriasPerdida(nivelselecionado)" small fab dark color="teal" v-on="on">
                                            <v-icon dark>cached</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>Actualizar lista Categorias de Perdida</span>
                                </v-tooltip>
                            </v-flex>
                        </v-card-title>
                        <v-card-text>
                            <v-container grid-list-md>
                                <v-layout wrap>
                                    <v-flex xs12 sm12 md12 lg12 xl12>
                                        <template>
                                            <v-spacer></v-spacer>
                                            <v-text-field v-model="buscarCategoriasPerdida" append-icon="search" label="Search" single-line hide-details></v-text-field>
                                            <v-data-table :headers="cabeceraCategoriasPerdida" :items="CategoriasPerdida" :search="buscarCategoriasPerdida">
                                                <template slot="items" slot-scope="props">
                                                    <td class="justify-center layout px-0">
                                                        <v-icon medium class="mr-2" @click="agregarCategoriasPerdida(props.item) ">
                                                            add_circle
                                                        </v-icon>
                                                    </td>
                                                    <td>{{props.item.nombre }}</td>
                                                    <td>{{props.item.nivel}}</td>
                                                </template>
                                                <template slot="no-data">
                                                    <h3>No hay Categorias de Perdida para mostrar.</h3>
                                                </template>
                                            </v-data-table>
                                        </template>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn @click="ocultarCategoriasPerdida()" color="blue darken" flat>
                                Cancelar
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            <!------------------------------------------------- menu de seleccion de maquina ------------------------------------------------->   
            
            <v-toolbar flat color="white">
                <v-toolbar-title>Categorías</v-toolbar-title>
                    <v-divider
                    class="mx-2"
                    inset
                    vertical
                    ></v-divider>
                    <v-spacer></v-spacer>
                    <v-text-field class="text-xs-center" v-model="search" append-icon="search" label="Búsqueda" single-line hide-details></v-text-field>
                    <v-spacer></v-spacer>
                    <v-dialog v-model="dialog" max-width="600px">
                        <v-btn slot="activator" color="primary" dark class="mb-2">Nuevo</v-btn>
                        <v-card>
                            <v-card-title>
                            <span class="headline">{{ formTitle }}</span>
                            </v-card-title>
                
                            <v-card-text>
                            <v-container grid-list-md>
                                <v-layout wrap>
                                  <v-flex xs12 sm3 md10>
                                      <v-text-field  readonly v-model="nombrecategoria" label="Evento">
                                      </v-text-field>
                                  </v-flex>

                                  <v-flex xs12 sm1 md1 lg1 xl2>
                                    <v-btn @click="mostrarCategoriasPerdida(3)" small fab dark color="teal">
                                        <v-icon dark>list</v-icon>
                                    </v-btn>
                                  </v-flex>
                                  <v-flex xs12 sm3 md10>
                                      <v-text-field  readonly v-model="nombremaquina" label="Maquina">
                                      </v-text-field>
                                  </v-flex>
                                  <v-flex xs12 sm1 md1 lg1 xl2>
                                      <v-btn @click="mostrarMaquinas()" small fab dark color="teal">
                                          <v-icon dark>list</v-icon>
                                      </v-btn>
                                  </v-flex>
                                  <v-flex xs12 sm12>
                                    <v-select :items="['1', '2', '3']" label="Turno" v-model="nivelselecionado" required ></v-select>
                                  </v-flex>

                                  <v-flex xs12 sm12>
                                          <v-menu ref="menu" v-model="menu2" :close-on-content-click="false" :nudge-right="40" :return-value.sync="time" transition="scale-transition"  full-width max-width="290px" min-width="290px">
                                            <template  v-slot:activator="{ on }" >
                                              <v-text-field v-model="time" label="Hora de Inicio" prepend-icon="access_time" readonly v-on="on" ></v-text-field>
                                            </template>
                                            <v-time-picker v-if="menu2" v-model="time" format="24hr"  full-width @click:minute="$refs.menu.save(time)" ></v-time-picker>
                                          </v-menu>
                                    </v-flex>

                                    <v-flex xs12 sm12>
                                          <v-menu ref="menu4" v-model="menu3" :close-on-content-click="false" :nudge-right="40" :return-value.sync="time2" transition="scale-transition"  full-width max-width="290px" min-width="290px">
                                            <template v-slot:activator="{ on }">
                                              <v-text-field v-model="time2" label="Hora Finalizacion" prepend-icon="access_time" readonly v-on="on" ></v-text-field>
                                            </template>
                                            <v-time-picker v-if="menu3" v-model="time2" format="24hr"  full-width @click:minute="$refs.menu4.save(time2)" ></v-time-picker>
                                          </v-menu>
                                    </v-flex>

                                  
                                  
                                <v-flex xs12 sm12 md12 v-show="valida">
                                    <div class="red--text" v-for="v in validaMensaje" :key="v" v-text="v">
                                    </div>
                                </v-flex>
                                </v-layout>
                            </v-container>
                            </v-card-text>
                
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" flat @click.native="close">Cancelar</v-btn>
                                <v-btn color="blue darken-1" flat @click.native="guardar">Guardar</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                    <v-dialog v-model="adModal" max-width="290">
                        <v-card>
                            <v-card-title class="headline" v-if="adAccion==1">¿Activar Item?</v-card-title>
                            <v-card-title class="headline" v-if="adAccion==2">¿Desactivar Item?</v-card-title>
                            <v-card-text>
                                Estás a punto de 
                                <span v-if="adAccion==1">Activar </span>
                                <span v-if="adAccion==2">Desactivar </span>
                                el ítem {{ adNombre }}
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="green darken-1" flat="flat" @click="activarDesactivarCerrar">
                                    Cancelar
                                </v-btn>
                                <v-btn v-if="adAccion==1" color="orange darken-4" flat="flat" @click="activar">
                                    Activar
                                </v-btn>
                                <v-btn v-if="adAccion==2" color="orange darken-4" flat="flat" @click="desactivar">
                                    Desactivar
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
            <v-data-table
                :headers="headers"
                :items="paradas"
                :search="search"
                class="elevation-1"
            >
                <template slot="items" slot-scope="props">
                    <td class="justify-center layout px-0">
                        <v-icon small class="mr-2" @click="editItem(props.item)"> edit </v-icon>
                        <template v-if="props.item.activo">
                            <v-icon small @click="activarDesactivarMostrar(2,props.item)"> block </v-icon>
                        </template>
                        <template v-else>
                            <v-icon small @click="activarDesactivarMostrar(1,props.item)"> check </v-icon>
                        </template>
                    </td>
                    <td>{{ props.item.evento }}</td>
                    <td>{{ props.item.idusuario }}</td>
                    <td>{{ props.item.idmaquina }}</td>
                    <td>{{ props.item.ts }}</td>
                    <td>{{ props.item.turno }}</td>
                    <td>{{ props.item.hora_inicio }}</td>
                    <td>{{ props.item.hora_final }}</td>
                    <td>{{ props.item.tiempo_total }}</td>

                </template>
                <template slot="no-data">
                <v-btn color="primary" @click="listarParadas">Actualizar</v-btn>
                </template>
            </v-data-table>
        </v-flex>
    </v-layout>
</template>
<script>
    import axios from 'axios'
    
    export default {
        data(){
            return {
                paradas:[],              
                dialog: false,
                el: '#app',
                
                time: null,
                menu2: false,
                calculo: 0,
                time2: null,
                menu3: false,

                headers: [
                    { text: 'Opciones', value: 'opciones', sortable: false },
                    { text: 'evento', value: 'evento' },
                    { text: 'Usuario', value: 'idusuario' },
                    { text: 'Maquina', value: 'idmaquina' },  
                    { text: 'Fecha', value: 'ts' }, 
                    { text: 'Turno', value: 'turno' }, 
                    { text: 'Hora de  Inicio', value: 'hora_inicio', sortable: false  },
                    { text: 'Hora Final', value: 'hora_final', sortable: false  },
                    { text: 'Tiempo Total', value: 'tiempo_total' },
                ],
                search: '',
                cat_padre: 0,
                nivel: '',
                editedIndex: -1,
                id: '',
                nombre: '',
                valida: 0,
                validaMensaje:[],
                adModal: 0,
                adAccion: 0,
                adNombre: '',
                adId: '',
                idcat:0,
                
                // SNACKBAS NOTIFICACIONS
                color:"",
                snackbar: false,
                textsnackbar: 'My timeout is set to 2000.',
                timeout: 2000, 
                x: 'right',
                y: 'top',
                anomalias:[], 

                //variables de maquina
                buscarmaquina:'',
                idmaquina:'',
                nombremaquina:'',
                maquinas:[],
                verMaquinas:0,
                showbuscarmaquinatooltip:false,
                cabeceraMaquinas: [
                    {text: 'Seleccionar', value: 'seleccionar', sortable: false },
                    { text: 'Maquina', value: 'nombre', sortable: false },
                    { text: 'Area', value: 'area' , sortable: false }
                ],
                //variables de Categorias Perdida
                //CategoriasPerdida
                buscarCategoriasPerdida:'',
                idcategoria:'',
                nivelselecionado:0,
                nombrecategoria:'',
                CategoriasPerdida:[],
                verCategoriasPerdida:0,
                showbuscarmaquinatooltip:false,
                cabeceraCategoriasPerdida: [
                    {text: 'Seleccionar', value: 'seleccionar', sortable: false },
                    { text: 'Maquina', value: 'nombre', sortable: false }
                ]
                

            }
        },
        computed: {
            formTitle () {
                return this.editedIndex === -1 ? 'Nueva Registro Pamco' : 'Actualizar Registro'
            }
        },

        watch: {
            dialog (val) {
            val || this.close()
            },
            loader () {
                  const l = this.loader
                  this[l] = !this[l]

                  setTimeout(() => (this[l] = false), 3000)

                  this.loader = null
                }
        },

        created () {
            this.listarParadas();
            this.listarMaquinas();
            this.listarCategoriasPerdida(3);
        },
        methods:{
            listarParadas(){
                let me=this;
                var var1 = [];
                var var2 = [];
                var aux = [];
                let header={"Authorization" : "Bearer " + this.$store.state.token};
                let configuracion= {headers : header};
                axios.get('api/Registro_Pamco/listar',configuracion).then(function(response){
                    me.paradas=response.data;
                    var1 = me.paradas
                    
                    
                    axios.get('api/Categoria_perdida/Listar',configuracion).then(function(response){
                        me.categorias=response.data;
                        var2 = me.categorias

                        for (var i = 0; i < var1.length ; i++) {
                          aux = var1 [i];
                          
                          for (var j = 0; j < var2.length ; j++)
                          {

                          }
                        }
                    });
                }).catch(function(error){
                    console.log(error);
                });
            },
            editItem (item) {
                this.id=item.idcategoria;
                this.nombre=item.nombre;
                this.nivel=item.nivel;
                this.editedIndex=1;
                this.dialog = true
            },

            deleteItem (item) {
                const index = this.desserts.indexOf(item)
                confirm('Are you sure you want to delete this item?') && this.desserts.splice(index, 1)
            },

            close () {
                this.dialog = false;
                this.limpiar();
            },
            limpiar(){
                this.id="";
                this.nombre="";
                this.nivel="";
                this.editedIndex=-1;
            },
            guardar () {
                if (this.validar()){
                    return;
                }
                let header={"Authorization" : "Bearer " + this.$store.state.token};
                let configuracion= {headers : header};
                this.restarHoras();
                console.log("calculo "+(this.calculo));
                if (this.editedIndex > -1) {
                    let me=this;
                    axios.put('api/Registro_Pamco/Crear',{
                        'idcategoria':me.idcategoria,
                        'idusuario': this.$store.state.usuario.idusuario,
                        'idmaquina': me.idmaquina,
                        'evento':me.nombre,
                        'turno':me.nivel,
                        'hora_inicio':this.time,
                        'hora_final':this.time2,
                        'tiempo_total':this.calculo,
                    },configuracion).then(function(response){
                        me.close();
                        me.listarParadas();
                        me.limpiar();  
                        me.limpiarCategoriaPerdida();                      
                    }).catch(function(error){
                        console.log(error);
                    });
                } else {
                    let me=this;
                    axios.post('api/Registro_Pamco/Crearpamco',{
                        'idcategoria':me.idcategoria,
                        'idusuario': this.$store.state.usuario.idusuario,
                        'idmaquina': me.idmaquina,
                        'evento':me.nombrecategoria,
                        'turno':me.nivel,
                        'hora_inicio':this.time,
                        'hora_final':this.time2,
                        'tiempo_total':this.calculo,
                        
                    },configuracion).then(function(response){
                        me.close();
                        me.listarParadas();
                        me.limpiar();  
                        me.limpiarCategoriaPerdida();                      
                    }).catch(function(error){
                        console.log(error);
                    });
                }
            },
            validar(){
                this.valida=0;
                this.validaMensaje=[];
                return this.valida;
            },
            activarDesactivarMostrar(accion,item){
                this.adModal=1;
                this.adNombre=item.nombre;
                this.adId=item.idcategoria;                
                if (accion==1){
                    this.adAccion=1;
                }
                else if (accion==2){
                    this.adAccion=2;
                }
                else{
                    this.adModal=0;
                }
            },
            activarDesactivarCerrar(){
                this.adModal=0;
            },
            activar(){
                let me=this;
                let header={"Authorization" : "Bearer " + this.$store.state.token};
                let configuracion= {headers : header};
                axios.put('api/Categoria_perdida/Activar/'+this.adId,{},configuracion).then(function(response){
                    me.adModal=0;
                    me.adAccion=0;
                    me.adNombre="";
                    me.adId="";
                    me.listarParadas();                       
                }).catch(function(error){
                    console.log(error);
                });
            },
            desactivar(){
                let me=this;
                let header={"Authorization" : "Bearer " + this.$store.state.token};
                let configuracion= {headers : header};
                axios.put('api/Categoria_perdida/Desactivar/'+this.adId,{},configuracion).then(function(response){
                    me.adModal=0;
                    me.adAccion=0;
                    me.adNombre="";
                    me.adId="";
                    me.listarParadas();                       
                }).catch(function(error){
                    console.log(error);
                });
            },
            editItem (item) {
                this.idmaquina=item.idmaquina;
                this.codigo=item.codigo;
                this.idanomalia=item.idregistroanomalia;
                this.nombre_anomalia=item.nombre;
                this.emision_ts=item.emision_ts;
                this.id_usuario=item.id_usuario;
                this.nombre_usuario=item.usuario,
                this.maquina=item.maquina;
                this.anomaliac=item.anomaliac;
                this.relacionado=item.relacionado;
                this.tarjeta=item.tarjeta;
                this.descripcion=item.descripcion;
                this.paso_ma=item.paso_ma;
                this.criticidad=item.criticidad;
                this.turno=item.turno;
                this.area=item.area;
                this.relacionado=item.relacionado;
                //this.editedIndex=1;
                this.dialog = true
            },
            //METODOS DE MAQUINAS   
            listarMaquinas(){
                let me=this;
                let header={"Authorization" : "Bearer " + this.$store.state.token};
                let configuracion= {headers : header};
                axios.get('api/Maquinas/ListarMaquinas/',configuracion).then(function(response){
                //console.log(response);
                    me.maquinas=response.data;
                }).catch(function(error){
                    console.log(error);
                });
            },
            
            mostrarMaquinas(){
                this.verMaquinas=1;
            },
            
            ocultarMaquinas(){
                this.verMaquinas=0;
            },
            
            agregarMaquina(data = []){
                this.idmaquina=data['idmaquina'];
                this.nombremaquina= data['nombre'];
                this.verMaquinas=0;
                this.snackbar = true;
                this.color="success";
                this.textsnackbar='Maquina seleccionada' +" "+ this.nombremaquina
            },

            //METODOS DE Categorias Perdida   
            listarCategoriasPerdida(nivel){
              console.log(nivel);
                
                if (nivel>0){
                    //console.log(nivel-1);
                    //nivel = nivel-1;
                    let me=this;
                    let header={"Authorization" : "Bearer " + this.$store.state.token};
                    let configuracion= {headers : header};
                    axios.get('api/Categoria_perdida/SelectEspecifico/'+nivel+'',configuracion).then(function(response){
                        //console.log(response);
                        me.CategoriasPerdida=response.data;
                    }).catch(function(error){
                        console.log(error);
                    });
                }
            },
            restarHoras() {
                var inicioMinutos = parseInt(this.time.substr(3,2));
                var inicioHoras = parseInt(this.time.substr(0,2));
                
                var finMinutos = parseInt(this.time2.substr(3,2));
                var finHoras = parseInt(this.time2.substr(0,2));
                var transcurridoMinutos = finMinutos - inicioMinutos;
                var transcurridoHoras = finHoras - inicioHoras;
                if (transcurridoMinutos < 0) {
                  transcurridoHoras--;
                  transcurridoMinutos = 60 + transcurridoMinutos;
                }
                var horas = transcurridoHoras.toString();
                var minutos = transcurridoMinutos.toString();
                if (horas.length < 2) {
                  horas = "0"+horas;
                }
                if (minutos.length < 2) {
                  minutos = "0"+minutos;
                }
                this.calculo = horas+":"+minutos;
              },
            
            mostrarCategoriasPerdida(nivelselecionado){
                this.verCategoriasPerdida=1;
                this.nivelselecionado=nivelselecionado;
            },
            
            ocultarCategoriasPerdida(){
                this.verCategoriasPerdida=0;
                this.limpiarCategoriaPerdida();
            },
            
            agregarCategoriasPerdida(data = []){
                this.idcategoria=data['idcategoria'];
                this.nombrecategoria = data['nombre'];
                this.nivel = data['nivel'];
                this.cat_padre = data['cat_padre'];
                this.verCategoriasPerdida=0;
                this.snackbar = true;
                this.color="success";
                this.textsnackbar='Categoria de Perdida Seleccionada' +" "+ this.nombremaquina
            },
            limpiarCategoriaPerdida(){
                this.idcategoria='';
                this.nombrecategoria='';
                this.idcategoria='';
                this.nombrecategoria = '';
                this.nivel = '';
                this.cat_padre = '';
                this.verCategoriasPerdida=0;
                this.CategoriasPerdida=[];
            },
            /// METODO SNACBAR
            mostrarSnacbar(){
                this.verSucesos=0;
                this.snackbar = true;
                this.color="success";
                this.textsnackbar='Categoria de Registro Creado Exitosamente'
                    
            },
            
        }        
    }
</script>