<template>
      <v-layout   align-start row wrap>
        <v-flex sm6 xs6 md6 lg3>
          <Tarjeta color="green" nombre="VERDE"></Tarjeta>
        </v-flex>
        <v-flex sm6 xs6 md6 lg3>
          <Tarjeta color="#F44336" nombre="ROJA"></Tarjeta>
        </v-flex>
        <v-flex sm6 xs6 md6 lg3>
          <Tarjeta color="#03A9F4" nombre="AZUL"></Tarjeta>
        </v-flex>
        <v-flex sm6 xs6 md6 lg3>
          <Tarjeta color="#FFC107" nombre="AMARILLA"></Tarjeta>
        </v-flex> 
           
        <v-flex   xs12 sm12 md12 lg12>
           
            <el-date-picker
              size="small"
              :default-value="anioReporte"
              align="center"
              value-format="yyyy"
              format="yyyy"
              v-model="anioReporte"
              type="year"
              placeholder="Elija el Año para el reporte"
            ></el-date-picker>
            <span class="demonstration">Año actual: {{anioReporte}}</span>
        
        <el-tabs align-start color="#F44336" v-model="activeName" @tab-click="handleClick">
              <el-tab-pane label="ROJA" name="first">
                <Meses :color="ROJA" :controlAnio="anioReporte"></Meses>
              </el-tab-pane>
              <el-tab-pane label="AZUL" name="second">
                <Meses :color="AZUL" :controlAnio="anioReporte"></Meses>
              </el-tab-pane>
              <el-tab-pane label="AMARILLA" name="third">
                <Meses :color="AMARILLA" :controlAnio="anioReporte"></Meses>
              </el-tab-pane>
              <el-tab-pane label="VERDE-ROJA" name="VERDE-ROJA"></el-tab-pane>
              <el-tab-pane label="VERDE-AZUL" name="VERDE-AZUL"></el-tab-pane>
              <el-tab-pane label="MATRIZ" name="matriz">
                       <MatrizMain/>
    
              </el-tab-pane>
            </el-tabs>

        </v-flex>
       
      </v-layout>
    
  
</template>

<script>
// @ is an alias to /src
//import Tarjeta from './_base-card-total'
//import Footer from '@/components/Footer'
import Tarjeta from "@/components/layouts/wcm-tarjetas/_base-card-total";
import Meses from "@/components/layouts/wcm-tarjetas/_base-meses";
import MatrizMain from "@/components/layouts/wcm-tarjetas/_base-matriz";
//import Btn from "@/components/Library/boton";

export default {
  name: "ResumenMeses",
  components: {
    Tarjeta,
    Meses,
    MatrizMain
  },
  data: () => ({
    team: [
      { name: "Iyad", role: "web developer", avatar: "/img1.png" },
      { name: "Reda", role: "Graphic designer", avatar: "/img2.png" },
      { name: "Zineb", role: "web developer", avatar: "/img3.png" },
      { name: "Hu TechGroup", role: "Desktop developer", avatar: "/img4.png" }
    ],
    PropsColorRoja: 0,
    ROJA: 1,
    AZUL: 2,
    AMARILLA: 3,
    anioReporte: "",
    activeName: "first",
    anioReporte:""
  }),
  methods: {
    CambiarNumeroTarjeta(valor) {
      var total = (this.PropsColorRoja = valor);

      console.log("total props", total);
    },
    handleClick(tab, event) {
      console.log(tab, event);
    }
  },
  created() {
    //  this.AnioActual();
    this.PropsColorRoja = 1;
  }
};
</script>
