<template>
  <v-container>
    <v-layout class="primary>">
      <v-flex class="primary>" xs12>
        <grafico-component></grafico-component>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import Main from "@/components/layouts/wcm-tarjetas/_base-contenedor";
import GraficoComponent from "@/components/layouts/wcm-tarjetas/_base-grafico-atencion.vue";

export default {
  name: "ResumenMeses",
  components: {
    Main,
    GraficoComponent
  },
  data: () => ({}),
  methods: {},
  created() {}
};
</script>