<template>
    <v-layout align-start wrap>
        <v-flex xs12>
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item :to="{ path: '/' }">Inicio</el-breadcrumb-item>
                <el-breadcrumb-item :to="{ path: '/Homes_Pamco' }">Administracion PAMCO</el-breadcrumb-item>
                <el-breadcrumb-item>Quality Daily</el-breadcrumb-item>
            </el-breadcrumb>
            <el-divider></el-divider>           
            <v-toolbar flat color="white">
                <v-toolbar-title>Quality Daily</v-toolbar-title>
                    <v-divider class="mx-2" inset vertical></v-divider>
                    <v-spacer></v-spacer>
                    <v-text-field class="text-md-right" v-model="search" append-icon="search" label="Búsqueda" single-line hide-details></v-text-field>
                    <v-spacer></v-spacer>
                    <v-flex xs3 >
                        <v-text-field :rules="nameRules_semanas" v-model="num_semana" :mask="mask" label="Numero de semana"></v-text-field>
                    </v-flex>
                    <v-spacer></v-spacer>
                    <v-flex class="text-md-right" >
                        <el-select v-model="value_maquina" placeholder="Seleccione una Maquina">
                            <el-option
                            v-for="item in lista_maquina"
                            :key="item.value"
                            :label="item.label"
                            :value="item.label">
                            </el-option>
                        </el-select>
                    </v-flex>
                    <v-spacer></v-spacer>
                    <v-flex>
                        <v-btn slot="activator" color="primary" @click="listarPlanificado" dark class="mb-2">Buscar</v-btn>
                    </v-flex>

<!--///////////////////////////////////////////////////////////////////////// menu de quality /////////////////////////////////////////////////////////////////////////-->   
                    <v-dialog v-model="dialog" max-width="700px">
                        <v-btn slot="activator" color="primary" dark class="mb-2">Nuevo</v-btn>
                        <v-card>
                            <v-card-title>
                            <span class="headline">{{ formTitle }}</span>
                            </v-card-title>
                
                            <v-card-text>
                            <v-container grid-list-md>
                               <v-layout row wrap>
                    <v-flex  xs12 >
                        <v-card color="indigo" dark>
                        <v-card-text class="text-md-center">QUALITY</v-card-text>
                        </v-card>
                    </v-flex>
                    <v-flex d-flex xs12 >
                        <v-layout row wrap >
                            <v-flex row d-flex>
                                <v-layout column wrap>
                                    <v-flex d-flex class="pa-0">
                                        <v-layout  xs9 row wrap>
                                            <v-flex d-flex xs4 >
                                                <v-card elevation="0">
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs4 >
                                                <v-card elevation="0">
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs4 >
                                                <v-card elevation="0">
                                                    <v-card-text class="text-md-center">#</v-card-text>
                                                </v-card>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>

                                    <v-flex d-flex class="pa-0">
                                        <v-layout  xs9 row wrap>
                                            <v-flex d-flex xs6 >
                                                <v-card elevation="0">
                                                <v-card-text class="text-md-right">Incidente D (incl. CRQS Red)</v-card-text>
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs2 justify-center align-center>
                                                <v-card elevation="0" >
                                                    <v-card-text class="text-xs-center pa-0">
                                                        <template v-if="campo1!=0">
                                                            <v-icon color="red">info</v-icon>
                                                        </template>
                                                        <template v-else>
                                                            <v-icon color="success">info</v-icon>
                                                        </template>
                                                    </v-card-text>
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs4 >
                                                <v-card elevation="0"> 
                                                    <v-card-text class="text-xs-center pa-0">
                                                        <v-text-field class="text-xs-center" outlined v-model="campo1" :mask="mask" label="##"></v-text-field>
                                                    </v-card-text>
                                                </v-card>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>

                                    <v-flex d-flex class="pa-0">
                                        <v-layout  xs9 row wrap>
                                            <v-flex d-flex xs6 >
                                                <v-card elevation="0">
                                                <v-card-text class="text-md-right">CRQS Amber</v-card-text>
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs2 justify-center align-center>
                                                <v-card elevation="0" >
                                                    <v-card-text class="text-xs-center pa-0">
                                                        <template v-if="campo2!=0">
                                                            <v-icon color="red">info</v-icon>
                                                        </template>
                                                        <template v-else>
                                                            <v-icon color="success">info</v-icon>
                                                        </template>
                                                    </v-card-text>
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs4 >
                                                <v-card elevation="0"> 
                                                    <v-card-text class="text-xs-center pa-0">
                                                        <v-text-field class="text-xs-center" outlined v-model="campo2" :mask="mask" label="##"></v-text-field>
                                                    </v-card-text>
                                                </v-card>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                        
                                    <v-flex d-flex class="pa-0">
                                        <v-layout  xs9 row wrap>
                                            <v-flex d-flex xs6 >
                                                <v-card elevation="0">
                                                <v-card-text class="text-md-right">Parametros de proceso NO completados</v-card-text>
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs2 justify-center align-center>
                                                <v-card elevation="0" >
                                                    <v-card-text class="text-xs-center pa-0">
                                                        <template v-if="campo3!=0">
                                                            <v-icon color="red">info</v-icon>
                                                        </template>
                                                        <template v-else>
                                                            <v-icon color="success">info</v-icon>
                                                        </template>
                                                    </v-card-text>
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs4 >
                                                <v-card elevation="0"> 
                                                    <v-card-text class="text-xs-center pa-0">
                                                        <v-text-field class="text-xs-center" outlined v-model="campo3" :mask="mask" label="##"></v-text-field>
                                                    </v-card-text>
                                                </v-card>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>

                                    <v-flex d-flex class="pa-0">
                                        <v-layout  xs9 row wrap>
                                            <v-flex d-flex xs6 >
                                                <v-card elevation="0">
                                                <v-card-text class="text-md-right">Non-compliant process parameters</v-card-text>
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs2 justify-center align-center>
                                                <v-card elevation="0" >
                                                    <v-card-text class="text-xs-center pa-0">
                                                        <template v-if="campo4!=0">
                                                            <v-icon color="red">info</v-icon>
                                                        </template>
                                                        <template v-else>
                                                            <v-icon color="success">info</v-icon>
                                                        </template>
                                                    </v-card-text>
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs4 >
                                                <v-card elevation="0"> 
                                                    <v-card-text class="text-xs-center pa-0">
                                                        <v-text-field class="text-xs-center" outlined v-model="campo4" :mask="mask" label="##"></v-text-field>
                                                    </v-card-text>
                                                </v-card>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>

                                    <v-flex d-flex class="pa-0">
                                        <v-layout  xs9 row wrap>
                                            <v-flex d-flex xs6 >
                                                <v-card elevation="0">
                                                <v-card-text class="text-md-right">Cuerpo extraño</v-card-text>
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs2 justify-center align-center>
                                                <v-card elevation="0" >
                                                    <v-card-text class="text-xs-center pa-0">
                                                        <template v-if="campo5!=0">
                                                            <v-icon color="red">info</v-icon>
                                                        </template>
                                                        <template v-else>
                                                            <v-icon color="success">info</v-icon>
                                                        </template>
                                                    </v-card-text>
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs4 >
                                                <v-card elevation="0"> 
                                                    <v-card-text class="text-xs-center pa-0">
                                                        <v-text-field class="text-xs-center" outlined v-model="campo5" :mask="mask" label="##"></v-text-field>
                                                    </v-card-text>
                                                </v-card>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>

                                    <v-flex d-flex class="pa-0">
                                        <v-layout  xs9 row wrap>
                                            <v-flex d-flex xs6 >
                                                <v-card elevation="0">
                                                <v-card-text class="text-md-right">SNCR </v-card-text>
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs2 justify-center align-center>
                                                <v-card elevation="0" >
                                                    <v-card-text class="text-xs-center pa-0">
                                                        <template v-if="campo6!=0">
                                                            <v-icon color="red">info</v-icon>
                                                        </template>
                                                        <template v-else>
                                                            <v-icon color="success">info</v-icon>
                                                        </template>
                                                    </v-card-text>
                                                </v-card>
                                            </v-flex>
                                            <v-flex d-flex xs4 >
                                                <v-card elevation="0"> 
                                                    <v-card-text class="text-xs-center pa-0">
                                                        <v-text-field class="text-xs-center" outlined v-model="campo6" :mask="mask" label="##"></v-text-field>
                                                    </v-card-text>
                                                </v-card>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                </v-layout>
                            </v-container>
                            </v-card-text>
                
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" flat @click.native="close">Cancelar</v-btn>
                                <v-btn color="blue darken-1" flat @click.native="guardar">Guardar</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
<!--///////////////////////////////////////////////////////////////////////// fin menu de seleccion de maquina /////////////////////////////////////////////////////////////////////////--> 

                </v-toolbar>
                <el-divider></el-divider> 
            <v-data-table :headers="headers_planificado" :items="lista_planificado" :search="search_planificado" disable-initial-sort 
                class="elevation-1">
                <template slot="items" slot-scope="props">
                    <td>{{ props.item.dia_produccion }}</td>
                    <td>{{ props.item.fecha_programada }}</td>
                    <td>{{ props.item.turno }}</td>
                    <td>{{ props.item.producto }}</td>
                    <td>{{ props.item.bolsones }}</td>
                </template>
                <template slot="no-data">
                <v-btn color="primary" @click="listarPlanificado">Actualizar</v-btn>
                </template>
            </v-data-table>
        </v-flex>
        <!--///////////////////////////////////////////////////////////////////////// calendario  /////////////////////////////////////////////////////////////////////////--> 
        <el-divider></el-divider>
        <v-flex xs12>
            <div>
                <v-sheet height="500">
                    <v-calendar :now="today" :value="today" color="primary" >
                        <template v-slot:day="{ date }">
                        <template v-for="event in eventsMap[date]">
                            <v-menu :key="event.title" v-model="event.open" full-width offset-x >
                            <template v-slot:activator="{ on }">
                                <div v-if="!event.time" v-ripple class="my-event" v-on="on" v-html="event.title"></div>
                            </template>
                            <v-card color="grey lighten-4" min-width="350px" flat >
                                <v-toolbar color="primary" dark >
                                <v-toolbar-title v-html="event.title"></v-toolbar-title>
                                <v-spacer></v-spacer>
                                <v-btn icon>
                                    <v-icon>more_vert</v-icon>
                                </v-btn>
                                </v-toolbar>
                                <v-card-title primary-title>
                                <span v-html="event.details"></span>
                                </v-card-title>
                                <v-card-actions>
                                <v-btn flat color="secondary" > Cancel </v-btn>
                                </v-card-actions>
                            </v-card>
                            </v-menu>
                        </template>
                        </template>
                    </v-calendar>
                    </v-sheet>
            </div>
        </v-flex>

        <!--///////////////////////////////////////////////////////////////////////// fin calendario  /////////////////////////////////////////////////////////////////////////--> 
    </v-layout>
</template>
<script>
    import axios from 'axios'
    export default {
        data(){
            return {            
                dialog: false,
                headers_planificado: [
                    { text: 'Dia', value: 'dia_produccion' },
                    { text: 'Fecha', value: 'fecha_programada' },
                    { text: 'Turno', value: 'turno'},
                    { text: 'Producto', value: 'producto' },
                    { text: 'Cantidad (Bolsones)', value: 'bolsones', sortable: false }           
                ],
                search: '',
                search_planificado: '',
                lista_planificado: [],
                valida: 0,
                validaMensaje:[],

                /////////////////////////////////////////////////////////////////////// dialog quality llenado
                mask:'##',
                campo1:0,
                campo2:0,
                campo3:0,
                campo4:0,
                campo5:0,
                campo6:0,
                nameRules: [
                    v => !!v || 'Name is required',
                    v => v.length <= 15 || 'Name must be less than 10 characters'
                ],
                /////////////////////////////////////////////////////////////////////// semana
                num_semana:"",
                nameRules_semanas: [
                    v => !!v || 'el dato es requerido',
                    v => v.length <= 2 || 'no puede ser mayor a 2 digitos',
                    v => v < 52 || 'no puede exceder de la semana 51'
                ],
                /////////////////////////////////////////////////////////////////////// balanzzas
                lista_maquina: [{
                    value: '1',
                    label: 'Bosch 1'
                    }, {
                    value: '2',
                    label: 'Bosch 2'
                    }, {
                    value: '3',
                    label: 'Bosch 3'
                    }, {
                    value: '5',
                    label: 'Triangle 1'
                    }, {
                    value: '6',
                    label: 'Triangle 2'
                    }, {
                    value: '4',
                    label: 'Triangle 3'
                    }],
                value_maquina: '',
                /////////////////////////////////////////////////////////////////////// calendar
                today: '2020-01-08',
                events: [
                    {
                        title: 'Vacation',
                        details: 'Going to the beach!',
                        date: '2020-12-30',
                        open: false
                    }
                ],

                ////////////////////////////////////////////////////////////////////// SNACKBAS NOTIFICACIONS
                color:"",
                snackbar: false,
                textsnackbar: 'My timeout is set to 2000.',
                timeout: 2000, 
                x: 'right',
                y: 'top',
                anomalias:[], 

            }
        },
        computed: {
            formTitle () {
                return this.editedIndex === -1 ? 'Nueva categoría' : 'Llenado Quality Daily'
            },
            eventsMap () {
                const map = {}
                this.events.forEach(e => (map[e.date] = map[e.date] || []).push(e))
                return map
                }
        },

        watch: {
            dialog (val) {
            val || this.close()
            },
            loader () {
                  const l = this.loader
                  this[l] = !this[l]
                  setTimeout(() => (this[l] = false), 3000)
                  this.loader = null
                }
        },

        created () {
            this.listarPlanificado();
        },
        methods:{
            listarPlanificado(){
                let me=this;
                var num_sem = parseInt(me.num_semana)
                var fecha1 = me.firstDayOfWeek(num_sem,0);
                var fecha2 = me.firstDayOfWeek(num_sem,6);
                var maquina = me.value_maquina
                let header={"Authorization" : "Bearer " + this.$store.state.token};
                let configuracion= {headers : header};
                axios.get('api/Plan_Produccion/select_semana/'+fecha1+'/'+fecha2+'/'+maquina+'',configuracion).then(function(response){
                    //console.log(response);
                    me.lista_planificado=response.data;
                }).catch(function(error){
                    console.log(error);
                });
            },
            editItem (item) {
                this.id=item.idcategoria;
                this.nombre=item.nombre;
                this.nivel=item.nivelselecionado;
                this.cat_padre=item.nombrecategoria;
                this.editedIndex=1;
                this.dialog = true
            },
            close () {
                this.dialog = false;
                this.limpiar();
            },
            limpiar(){
                this.id="";
                this.nombre="";
                this.nivel="";
                this.editedIndex=-1;
            },
            guardar () {
                if (this.validar()){
                    return;
                }
                let header={"Authorization" : "Bearer " + this.$store.state.token};
                let configuracion= {headers : header};
                if (this.editedIndex > -1) {
                    //Código para editar
                    //Código para guardar
                    let me=this;
                    axios.put('api/Categoria_perdida/Actualizar',{
                        'idcategoria':me.id,
                        'nombre': me.nombre,
                        'nivel': me.nivel,
                        'cat_padre': me.idcategoria
                    },configuracion).then(function(response){
                        me.close();
                        me.listarPerdidas();
                        me.limpiar();  
                        me.limpiarCategoriaPerdida();                      
                    }).catch(function(error){
                        console.log(error);
                    });
                } else {
                    //Código para guardar
                    let me=this;
                    if (me.nivel == 2){
                        me.cat_padre = 0;
                    }
                    axios.post('api/Categoria_perdida/CrearCategoria',{
                        'nombre': me.nombre,
                        'nivel': me.nivel+1,
                        'cat_padre': me.idcategoria
                    },configuracion).then(function(response){
                        me.close();
                        me.listarPerdidas();
                        me.limpiar();  
                        me.limpiarCategoriaPerdida();                       
                    }).catch(function(error){
                        console.log(error);
                    });
                }
            },
            activarDesactivarMostrar(accion,item){
                this.adModal=1;
                this.adNombre=item.nombre;
                this.adId=item.idcategoria;                
                if (accion==1){
                    this.adAccion=1;
                }
                else if (accion==2){
                    this.adAccion=2;
                }
                else{
                    this.adModal=0;
                }
            },
            activarDesactivarCerrar(){
                this.adModal=0;
            },
//////////////////////////////////////////////////////////////////////////////////////////////// METODOS DE MAQUINAS   
            listarMaquinas(){
                let me=this;
                let header={"Authorization" : "Bearer " + this.$store.state.token};
                let configuracion= {headers : header};
                axios.get('api/Maquinas/ListarMaquinas/',configuracion).then(function(response){
                //console.log(response);
                    me.maquinas=response.data;
                }).catch(function(error){
                    console.log(error);
                });
            },
//////////////////////////////////////////////////////////////////////////////////////////////// METODO SNACBAR
            mostrarSnacbar(){
                this.verSucesos=0;
                this.snackbar = true;
                this.color="success";
                this.textsnackbar='Categoria de Registro Creado Exitosamente'
                    
            },
///////////////////////////////////////////////////////// metodos de fechas ////////////////////////////////////////////////
            semanaAno(fecha){
                var a,b,c,d,e,f,g,n,s,semana
                if(fecha.match(/\//)){
                    fecha   =   fecha.replace(/\//g,"-",fecha);
                    console.log(fecha)
                };
                
                fecha   =   fecha.split("-");
                var dia   =   eval(fecha[0]);
                var mes   =   eval(fecha[1]);
                var ano   =   eval(fecha[2]);
                
                if (mes==1 || mes==2){
                    a   =   ano-1;
                    b   =   Math.floor(a/4)-Math.floor(a/100)+Math.floor(a/400);
                    c   =   Math.floor((a-1)/4)-Math.floor((a-1)/100)+Math.floor((a-1)/400);
                    s   =   b-c;
                    e   =   0;
                    f   =   dia-1+(31*(mes-1));
                } else {
                    a   =   ano;
                    b   =   Math.floor(a/4)-Math.floor(a/100)+Math.floor(a/400);
                    c   =   Math.floor((a-1)/4)-Math.floor((a-1)/100)+Math.floor((a-1)/400);
                    s   =   b-c;
                    e   =   s+1;
                    f   =   dia+Math.floor(((153*(mes-3))+2)/5)+58+s;
                };
                g   =   (a+b)%7;
                d   =   (f+g-e)%7;
                n   =   f+3-d;
                
                if (n<0){
                    semana   =   53-Math.floor((g-s)/5);
                    ano      =   ano-1; 
                } else if (n>(364+s)) {
                    semana   = 1;
                    ano   =   ano+1;
                } else {
                    semana   =   Math.floor(n/7)+1;
                };
                console.log(semana+"-"+ano)
                return semana+"-"+ano; 
            },

            firstDayOfWeek (week, day) 
            {
                console.log("numero de semana en metodo "+week) 
                var anios = new Date();
                var year = anios.getFullYear();
                var d = new Date(year, 0, 1), offset = d.getTimezoneOffset(); 
                d.setDate(d.getDate() + 4 - (d.getDay() || 7)); 
                d.setTime(d.getTime() + 7 * 24 * 60 * 60 * 1000 * (week + (year == d.getFullYear() ? -1 : 0 ))); 
                d.setTime(d.getTime() + (d.getTimezoneOffset() - offset) * 60 * 1000);
                d.setDate(d.getDate() - 3); 
                let current_datetime = d
                let formatted_date = current_datetime.getFullYear() + "-" + (current_datetime.getMonth() + 1) + "-" + (current_datetime.getDate() + day)
                //console.log(formatted_date)
                return formatted_date; 
            } 
        }        
    }
</script>