
<template>
  <v-layout>
    <v-flex md12>
      <v-card width="100%">
        {{ControlIftarjtea}}
        {{ControlIAnio}}
        {{FormatedoDataReportadas}}
        {{FormatedoDataAtendidas}}
        {{FormatedoDataReportadasB}}
        {{FormatedoDataAtendidasB}}
        {{FormatedoDataReportadasC}}
        {{FormatedoDataAtendidasC}}
        {{FormateoDataABC}}
        <!-- <v-list-tile two-line>
          <v-list-tile-content>
            <v-list-tile-title class="mb-0 mt-1 title"> <h1 class="subheading grey--text">Tabla de Resumen</h1></v-list-tile-title>

          
          </v-list-tile-content>
        </v-list-tile>-->

        <v-card-text>
          <template>
            <el-table
              :data="DataModificadaABC"
              size="mini"
              align="left"
              v-loading="loading"
              element-loading-text="Cargando datos - resumen de tarjetas..."
              :summary-method="getSummaries"
              :header-cell-style="tableHeaderColor"
              stripe
              fit
              :cell-style="{padding: '0', height: '26px'}"
              show-summary
              style="width: 100%; margin-top: 0px"
            >
              >
              <el-table-column fixed :cell-style="tableRowStyle" prop="mes" width="65"></el-table-column>
              <el-table-column :label="ColorTarjeta" align="center">
                <el-table-column label="A" align="center">
                  <el-table-column prop="totalReportA" label="Rep." width="50" align="center"></el-table-column>
                  <el-table-column prop="totalAtenA" label="Aten." width="50" align="center"></el-table-column>
                  <el-table-column prop="totalA" label="%" width="55" align="center"></el-table-column>
                </el-table-column>

                <el-table-column label="B" align="center">
                  <el-table-column prop="totalReportB" label="Rep." width="50" align="center"></el-table-column>
                  <el-table-column prop="totalAtenB" label="Aten." width="50" align="center"></el-table-column>
                  <el-table-column prop="totalB" label="%" width="55" align="center"></el-table-column>
                </el-table-column>
                <el-table-column label="C" align="center">
                  <el-table-column prop="totalReportC" label="Rep." width="50" align="center"></el-table-column>
                  <el-table-column prop="totalAtenC" label="Aten." width="50" align="center"></el-table-column>
                  <el-table-column prop="totalC" label="%" width="55" align="center"></el-table-column>
                </el-table-column>
                <el-table-column label="Total" align="center">
                  <el-table-column prop="totalReportT" label="Rep." width="50" align="center"></el-table-column>
                  <el-table-column prop="totalAtenT" label="Aten." width="50" align="center"></el-table-column>
                  <el-table-column prop="totalT" label="%" width="55" align="center"></el-table-column>
                </el-table-column>
                <el-table-column label="ART" align="center">
                  <el-table-column prop="Días" label="Días" width="55" align="center"></el-table-column>
                </el-table-column>55
              </el-table-column>
            </el-table>
          </template>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>
            
<script src="./_base-meses.js"></script>

<style>
.el-table .warning-row {
  background: oldlace;
}
.el-table .success-row {
  background: #f0f9eb;
}
</style>