<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="750" max-height="300">
      <template>
        <v-hover>
          {{FormateoDataTabla}}
          {{DatosObserver}}
          <v-card slot-scope="{ hover }" :class="`elevation-${hover ? 12 : 2}`" class="mx-auto">
            <v-layout pa-2 mb-1 justify-center align-center wrap>
              <v-flex xs12>
                <div
                  class="title pa-1 text-md-center grey--text"
                >CUMPLIMIENTO DE ATENCION DE TARJETAS TOTAL</div>
              </v-flex>
              <v-layout row>
                <v-flex xs3 dark color=" green darken-3">
                  <v-flex xs12>
                    <v-card max-width="100" class="mx-auto">
                      <div
                        class="title-1 blue darken-3 text-md-center font-weight-light white--text"
                      >REPONSABLE:</div>

                      <v-img :src="CurrentAvatar" height="100"></v-img>

                      <div
                        class="font-weight-medium caption text-md-center font-weight-dark white--black"
                      >{{NombreUsuario}}</div>
                    </v-card>
                  </v-flex>
                  <v-flex xs12>
                    <v-flex sx6 class="ma-2">
                      <v-card class="mt-2">
                        <apexchart
                          type="bar"
                          ref="chartAzul"
                          height="180"
                          :options="chartOptionsAzul"
                          :series="seriesAzul"
                        ></apexchart>
                      </v-card>
                    </v-flex>
                  </v-flex>
                </v-flex>

                <v-flex xs9>
                  <v-card dark color="green darken-1">
                    <template>
                      <el-table
                        :data="DataModificadaTABLAMainV2"
                        show-summary
                        sum-text="Total"
                        style="width: 100%"
                        v-loading="loading"
                        :header-cell-style="tableHeaderColor"
                        size="mini"
                        stripe
                        :cell-style="{padding: '0', height: '10px'}"
                      >
                        <el-table-column prop="nombre" label="SECTORES" header-cell-style="ok"></el-table-column>
                        <el-table-column width="50" prop="totalok" label="OK"></el-table-column>
                        <el-table-column width="90" prop="totalejecucion" label="EJECUCION"></el-table-column>
                        <el-table-column width="92" prop="totalretrasada" label="RETRASADA"></el-table-column>
                      </el-table>
                    </template>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-layout>

          <!--  <v-flex sx6>
              <v-card class="mt-2">
                <v-flex xs12 class="ml-3 mr-3">
                  <div
                    class="title-1 text-md-center font-weight-dark black--text"
                  >CUMPLIMIENTO DE ATENCION DE TARJETAS</div>
                </v-flex>
                <v-card-text>
                  <apexchart
                    type="bar"
                    ref="chartAzul"
                    height="200"
                    :options="chartOptionsAzul"
                    :series="seriesAzul"
                  ></apexchart>
                </v-card-text>
              </v-card>
            </v-flex>-->
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn text @click="CerrarEmision()">Cerrar</v-btn>
            </v-card-actions>
          </v-card>
        </v-hover>
      </template>
    </v-dialog>
  </v-layout>
</template>
  

<script src="./_base-card-matriz-detalle-total.js"></script>


