.el-table .suma {
  background: #06bfc5;
}
.el-table .sectores {
  background: #1306c5;
}
.el-table .ok {
  background: #06c50f;
}
.el-table .ejecucion {
  background: #d8d507;
}
.el-table .retrasada {
  background: #e91010;
}
