<template>
  <div id="app">
    <template v-if="logueado">
      <v-app dense   clipped-left clipped-right color="indigo darken-2">
        <div class="grey lighten-5 fluid fill-height" >
        <Navigation/>
        <v-content>
          <v-container color="#FAFAFA" class="grey lighten-5 fluid fill-height mt-2" >
            <v-slide-y-transition mode="out-in">
              <router-view />
            </v-slide-y-transition>
          </v-container>
        </v-content>
        </div>
      </v-app>
    </template>
    <template v-else>
      <v-app>
        <transition>
          <keep-alive>
            <router-view></router-view>
          </keep-alive>
        </transition>
      </v-app>
    </template>
  </div>
</template>

<script>
import Navigation from './views/Layout/Navigation'

export default {
  name: 'app',
  components: {
    Navigation
  },
  data() {
    return {
  
    };
  },
  computed: {
    
    logueado(){
      this.imageUrl = "";
      this.foto_actualizacion=false;
      return this.$store.state.usuario;

      
    }
  },
  
  created(){
    this.$store.dispatch("autoLogin");
  },
  methods:{
  }
}
</script>

<style>
/*#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}*/
</style>
